@media screen and (min-width:0px) {
   .formcontato{
        display: flex;  
        margin-left: 16px;
        margin-right: 16px;
   }
    .formcontato__contacto{
        display: flex;
    }
    .formcontato--esquerda{

    }
        .formcontato__img{
            display: none;
        }
    .formcontato__text{
        display: flex;
        flex-direction: column;
    }
        .formcontato__title{
            display: flex;
            justify-content: start;

        }
        .formcontato__subtext{
            font-family: Raleway;
            font-size: 16x;
            font-weight: 400;
            line-height: 26px;
            letter-spacing: 0em;
            text-align: left;

        }
        .formcontato__form{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: stretch;
            gap: 8px;
        }
            .formcontato__input{
                height: 56px;
                font-size: medium;
            }
            .formcontato__textarea{
                height: 133px;
                font-family: Raleway;
                font-size: medium;
            }
            .formcontato__botao{
                width: fit-content;
                height: 50px;
                padding: 12px 16px 12px 16px;
                gap: 10px;                            
                
                background: #2A7AE4;

                border: 1px solid #2A7AE4;

                font-family: Raleway;
                font-size: 14px;
                font-weight: 600;
                line-height: 16px;
                letter-spacing: 0em;
                text-align: left;

                color: #FFFFFF;
            }

    
}
@media screen and (min-width:992px) {
    .formcontato{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: stretch;
   }
    .formcontato__contacto{
        
    }
    .formcontato--esquerda{
        display:flex;

    }
        .formcontato__img{
            display:flex;
        }
    .formcontato__text{
        
    }
        .formcontato__title{
            margin-top: 0;
        }
        .formcontato__subtext{
            

        }
        .formcontato__form{
            
        }
            .formcontato__input{
                
            }
            .formcontato__textarea{
                
            }
            .formcontato__botao{
                
            }
}