
@media screen and (min-width:0px) {
    .menu__list {
        display: none;
    }            
}
@media screen and (min-width:768px) {
    .menu__list {
        display: flex;           
    } 
    .menu__list__item {
        margin-right: 10px;
    }
                
}






